.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    cursor: default;
    padding: 25px 0;

    .burger {
        @include burger;
        display: none;
    }

    &__container {
        @include flex-all-sb;
    }

    &__group {
        @include flex-v-center;
    }

    .logo {
        position: relative;

        span {
            position: absolute;
            bottom: -10px;
            right: inherit;
            left: 37px;
            color: #fff;
            font-size: 13px;
        }
    }

    .nav {
        ul {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
            @include flex-v-center;

            li {
                position: relative;

                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--cs-white);
                    transition: all ease-in-out .4s;
    
                    &:hover {
                        color: var(--cs-main);
                    }
                }
    
                &.parent {
                    a {
                        position: relative;
                        padding-right: 17px;
    
                        &:hover {
                            &::after {
                                transform: rotate(180deg);
                            }
                        }
    
                        &::after {
                            position: absolute;
                            content: "";
                            background-image: url('../images/icon/nav-arrow.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 7px;
                            height: 7px;
                            top: calc(50% - 3px);
                            right: 0;
                            transition: all ease-in-out .4s;
                        }
                    }
                    ul {
                        min-width: 150px;
                        align-items: flex-start;
                        flex-direction: column;
                        position: absolute;
                        background-color: var(--cs-main);
                        padding: 14px 20px;
                        left: -20px;
                        transform: translateY(100px);
                        opacity: 0;
                        pointer-events: none;
                        transition: all ease-in-out .4s;
    
                        li {
                            margin-right: 0;
    
                            a {
                                padding-right: 0;

                                &:hover {
                                    color: var(--cs-body-bg);
                                }
    
                                &::after {
                                    content: none;
                                }
                            }

                            &:not(:last-child) {
                                margin-bottom: 15px;
                            }
                        }
                    }
    
                    &:hover {
                        ul {
                            pointer-events: all;
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-right: 60px;
                }
            }
        }
    }
    
    .mobile-menu {
        @include mobile-menu;

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90vh;
        }
        
        .nav {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;

            ul {
                a {
                    @include flex-all-sb;
                    position: relative;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-right: 25px;
                    padding-left: 80px;
                    border-bottom: 1px solid rgba(234,235,240, .1);
                    z-index: 1;

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: var(--cs-main);
                        height: 1px; 
                        width: 0%;
                        left: 0;
                        bottom: -1px;
                        transition: all ease-in-out .6s ;
                    }

                    .link-text {
                        font-weight: 300;
                        font-size: 32px;
                        line-height: 120%;
                        letter-spacing: -0.05em;
                        color: var(--cs-text);
                        transition: all ease-in-out .4s;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            background-color: rgba(234,235,240, .1);
                            border-radius: 50%;
                            bottom: -3px;
                            z-index: -1;
                            transition: all ease-in-out .4s;
                        }

                        &::before {
                            left: 0;
                        }

                        &::after {
                            right: 0;
                            transition-delay: .4s;
                        }
                    }

                    .icon.arrow {
                        stroke: var(--cs-text);
                        width: 23px;
                        height: 23px;
                        opacity: .3;
                        transition:  all ease-in-out .4s;
                    }
                }

                a:hover,
                a:focus {
                    &::after {
                        width: 100%;
                    }

                    .link-text {
                        color: var(--cs-main);

                        &::before,
                        &::after {
                            background-color: var(--cs-main);
                        }
                    }
                    .icon.arrow {
                        stroke: var(--cs-main);
                        transform: rotate(-90deg);
                        opacity: 1;
                    }
                }
            }
        }
    }
    .socials {
        @include socials;
    }
    .auth {
        @include flex-v-center;
        gap: 8px;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;    
        color: #7167E1;
        padding-left: 30px;
        border-left: 1px solid #3E3E4A;

        svg {
            color: #7167E1;
            transition:  all ease-in-out .4s;
        }

        &:hover svg {
            color: var(--cs-white);
        }
    }

    .auth--btn {
        background: rgba(113, 103, 225, .1);
        border: 1px solid #7167E1;
        border-radius: 50px;
        margin-left: 10px;
        padding: 10px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out .4s;

        &:hover {
            background: rgba(113, 103, 225, 1);
            color: #fff;
        }
    }
}

.header.active-scroll {
    background-color: #202435;
}