.main-screen {
    margin-top: 82px;
    padding-top: 220px;
    padding-bottom: 242px;
    position: relative;
    background-image: url('../../images/home/main-page/main-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;

    &__container {
        max-width: 570px;
    }

    &__title {
        font-weight: 500;
        font-size: 147px;
        line-height: 100%;
        letter-spacing: -0.035em;
        color: var(--cs-white);
        margin-top: 0;
        margin-bottom: 0;
    }

    &__text {
        @include text;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .app-links {
        @include app-links;
    }
}

.multicurr {
    padding-top: 150px;
    position: relative;
    text-align: center;
    overflow: hidden;

    &__title {
        @include title;
    }

    &__text {
        @include text;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        margin-bottom: 120px;
    }

    &__images {
        position: relative;
        
        img {
            display: block;
        }

        .main.mob {
            display: none;
        }

        .pos-ab {
            position: absolute;
            transition: all ease-in-out .4s;
        }

        .cloud-white {
            left: 220px;
            bottom: -150px;
        }

        .coin-lg {
            bottom: -80px;
            right: 420px;
        }

        .bitcoin {
            bottom: 100px;
            left: 570px;
            opacity: 0;
        }

        .tron {
            bottom: 5px;
            right: 538px;
        }

        .coin-small {
            bottom: 136px;
            right: 420px;
            opacity: 0;
        }

        .binance {
            bottom: 236px;
            left: 530px;
        }

        .ether {
            top: 10px;
            right: 500px;
        }

        .tron,
        .binance,
        .ether {
            transform: scale(0);
        }

        .cloud-grey {
            top: 20px;
            right: 600px;
            z-index: -1;
        }

        .coin-sm {
            top: -30px;
            left: 500px;
            opacity: 0;
        }
    }

    &__container.animated {
        .multicurr__title {
            animation: typing 3.5s steps(40, end) forwards;
        }

        .cloud-white,
        .coin-lg {
            bottom: 0px;
        }
        
        .bitcoin,
        .coin-small,
        .coin-sm {
            opacity: 1;
        }
        .tron,
        .binance,
        .ether {
            transform: scale(1);
        }
        .cloud-grey {
            top: -50px;
            right: 500px;
        }
    }
}

.steps {
    padding: 150px 0;

    &__title {
        @include title;
    }

    &__text {
        @include text;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 115px;
        font-size: 14px;
        color: var(--cs-grey);
        text-align: center;
    }

    .start {
        @include flex-all-sb;
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #23232B;
            bottom: 0;
            width: 0;
            transition: all ease-in-out .4s;
        }

        &::before {
            left: 200px;
        }

        &::after {
            right: 200px;
        }

        &__icon {
            margin-right: 25px;

            img {
                opacity: 0;
                transform: translateY(50px);
                transition: all ease-in-out .4s;
            }
        }

        &__item {
            max-width: 230px;
            width: 100%;
        }

        &__title {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: var(--cs-white);
            margin: 50px 0;
        }

        &__step {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: var(--cs-grey);
        }
    }

    &__container.animated {
        .steps__title {
            animation: typing 3.5s steps(40, end) forwards;
        }
        
        .start {
            &::before,
            &::after {
                width: 248px;
            }
            &__icon {
                img {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }
}

.try {
    padding: 150px 0;

    &__container {
        padding-top: 70px;
        padding-bottom: 55px;
        padding-left: 144px;
        padding-right: 144px;
        background: url('../../images/home/banner/phones.png') no-repeat center 320px/contain, url('../../images/home/banner/banner-bg.jpg') no-repeat center/cover;
        border-radius: 40px;
        position: relative;
        transition: all ease-in-out .4s;

        &::after {
            content: "";
            position: absolute;
            background-image: url('../../images/home/banner/ball.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 265px;
            height: 265px;
            right: -132px;
            top: calc(50% - 132px);
            transform: scale(0);
            transition: all ease-in-out .4s;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: -0.035em;
        color: var(--cs-white);
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 615px;

        .accent {
            font-weight: 700;
            display: block;
        }

    }

    .btn-main {
        @include btn-main;
    }

    &__container.animated {
        background: url('../../images/home/banner/phones.png') no-repeat bottom/contain, url('../../images/home/banner/banner-bg.jpg') no-repeat center/cover;

        &::after {
            transform: scale(1);
        }
    }
}