@mixin btn-main {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cs-text);
    border-radius: 30px;
    padding: 6px 16px;
    background: rgba(234, 235, 240, 0.1);
    transition: all ease-in-out .4s;
    position: relative;
    
    &:hover {
        color: var(--cs-main);
    }
}

@mixin title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: var(--cs-text);
}

@mixin socials {
    .list {
        gap: 10px;

        &__link {
            background: rgba(234, 235, 240, .05);
            border-radius: 4px;
            @include flex-all-center;
            width: 35px;
            height: 35px;
            border-radius: 8px;

            .icon {
                width: 15px;
                height: 15px;
                fill: var(--cs-text);
                transition: all ease-in-out .4s;
            }

            &:hover {
                .icon {
                    animation: swing .6s ease-in-out;
                    animation-iteration-count: 1;
                }
                // .icon.telegram {
                //     fill: #0088CC;
                // }
                .icon.youtube {
                    fill: #FF0000;
                }
                .icon.twitter {
                    fill: #1DA1F2;
                }
                // .icon.instagram {
                //     fill: #DD2A7B;
                // }
                .icon.facebook {
                    fill: #3b5998;
                }
            }
        }
    }
}