<div class="contact-us-page">
    <section class="contact-us">
        <div class="wrapper">
            <h1 class="contact-us__title">
                Contact Us
            </h1>
        </div>
    </section>
    <section class="contacts-emails">
        <div class="wrapper">
            <p class="contacts-emails__text">
                If you have any troubles, inquiries or proposals
            </p>
            <h2 class="contacts-emails__title">
                Feel free to contact us by these e-mails:
            </h2>
            <div class="links-group">
                <a href="mailto:support@jetwallet.net" class="btn contacts-link">
                    support@jetwallet.net
                </a>
                <a href="mailto:proposals@jetwallet.net" class="btn contacts-link">
                    proposals@jetwallet.net
                </a>
            </div>
        </div>
    </section>
</div>