<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__top">
                <a href="/" class="logo">
                    <img src="images/icon/logo-beta.svg" alt="logo: c-wallet">
                </a>
                <nav class="nav">
					<ul> 
						<li>
							<a href="#">Cookie Policy</a>
						</li>
						<li>
							<a href="#">Roadmap</a>
						</li>
						<li>
							<a href="#">White paper</a>
						</li>
						<li>
							<a href="#">About us</a>
						</li>
					</ul>
				</nav>
                <div class="footer__links app-links">
                    <a href="#" class="btn btn-main">
                        Sing in
                    </a>
                    <!-- <a href="#" class="app-links__link app-links__link--google" target="_blank">
                        <span class="app-links__icon">
                            <img src="../images/icon/android.svg" alt="icon Google play">
                        </span>
                        <span class="app-links__labels">
                            <span>GET IT ON</span>
                            <span>Google play</span>
                        </span>
                    </a>
                    <a href="#" class="app-links__link app-links__link--apple" target="_blank">
                        <span class="app-links__icon">
                            <img src="../images/icon/apple.svg" alt="icon App store">
                        </span>
                        <span class="app-links__labels">
                            <span>Download on the</span>
                            <span>App store</span>
                        </span>
                    </a> -->
                </div>
            </div>
            <div class="footer__bottom">
                <strong class="copyright">
                    © All rights reserved.2022.Finmarket
                </strong>
                <div class="link-groups">
                    <a href="#">
                        Privacy Policy
                    </a>
                </div>
                <div class="socials">
                    <ul class="list-reset list">
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon youtube">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon facebook">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="list__link" target="_blank">
                                <svg class="icon twitter">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>