<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a href="/" class="logo">
				<img src="../images/icon/logo.svg" alt="logo: c-wallet">
			</a>
			<div class="header__group">
				<div class="socials">
					<ul class="list-reset list">
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon twitter">
									<use xlink:href="images/sprite.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon telegram">
									<use xlink:href="images/sprite.svg#linkedin"></use>
								</svg>
							</a>
						</li>
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon instagram">
									<use xlink:href="images/sprite.svg#instagram"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
					<img class="img" src="../images/icon/burger.svg" alt="burger icon">
				</button>   
			</div>
			<div class="mobile-menu" data-menu>
				<div class="mobile-menu__container">
					<div class="wrapper">
						<div class="mobile-menu__wrapper">
							<div class="mobile-menu__top">
								<a href="/" class="logo">
									<img src="../images/icon/logo.svg" alt="logo: calorie - burn for life">
								</a>
							</div>
							<nav class="nav">
								<ul> 
									<li class="parent">
										<a href="#">Products</a>
										<ul>
											<li>
												<a href="#">Products1</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="#">Support</a>
										<ul>
											<li>
												<a href="#">Support1</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="#">Crypto News</a>
										<ul>
											<li>
												<a href="#">Crypto News1</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">About company</a>
									</li>
								</ul>
							</nav>
							<div class="mobile-menu__bottom">
								<div class="socials">
									<ul class="list-reset list">
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon youtube">
													<use xlink:href="images/sprite.svg#youtube"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon telegram">
													<use xlink:href="images/sprite.svg#telegram"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon twitter">
													<use xlink:href="images/sprite.svg#twitter"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>