<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<a href="/" class="logo">
				<img src="images/icon/logo-beta.svg" alt="logo: c-wallet">
			</a>
			<div class="header__group">
				<nav class="nav">
					<ul> 
						<!-- <li class="parent">
							<a href="#">Products</a>
							<ul>
								<li>
									<a href="#">Products1</a>
								</li>
							</ul>
						</li>
						<li class="parent">
							<a href="#">Support</a>
							<ul>
								<li>
									<a href="#">Support1</a>
								</li>
							</ul>
						</li>
						<li class="parent">
							<a href="#">Crypto News</a>
							<ul>
								<li>
									<a href="#">Crypto News1</a>
								</li>
							</ul>
						</li> -->
						<li>
							<a class="scroll-link" href="#getStartedSteps">How to create a wallet</a>
						</li>
						<li>
							<a href="#">Our Roadmap</a>
						</li>
						<li>
							<a href="#">Contact us</a>
						</li>
					</ul>
				</nav>
				<div class="socials">
					<ul class="list-reset list">
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon youtube">
									<use xlink:href="images/sprite.svg#youtube"></use>
								</svg>
							</a>
						</li>
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon facebook">
									<use xlink:href="images/sprite.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="list__item">
							<a href="#" class="list__link" target="_blank">
								<svg class="icon twitter">
									<use xlink:href="images/sprite.svg#twitter"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<a href="#" target="_blank" class="sign-in" title="Sign In">
					<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_290_8939)">
						<path d="M15 0.00100708C6.7166 0.00100708 0 6.71628 0 15.0003C0 23.2844 6.71594 29.9997 15 29.9997C23.2847 29.9997 30 23.2844 30 15.0003C30 6.71628 23.2847 0.00100708 15 0.00100708ZM15 4.48598C17.7409 4.48598 19.962 6.70772 19.962 9.44733C19.962 12.1876 17.7409 14.4087 15 14.4087C12.2604 14.4087 10.0393 12.1876 10.0393 9.44733C10.0393 6.70772 12.2604 4.48598 15 4.48598ZM14.9967 26.078C12.263 26.078 9.75929 25.0825 7.82812 23.4346C7.35768 23.0334 7.08623 22.445 7.08623 21.8276C7.08623 19.0491 9.33497 16.8254 12.1141 16.8254H17.8872C20.667 16.8254 22.9072 19.0491 22.9072 21.8276C22.9072 22.4457 22.637 23.0327 22.1659 23.434C20.2354 25.0825 17.731 26.078 14.9967 26.078Z" fill="currentColor"/>
						</g>
						<defs>
						<clipPath id="clip0_290_8939">
						<rect width="30" height="30" fill="white"/>
						</clipPath>
						</defs>
					</svg>
					<span>Login</span>
				</a>
			</div>
			<button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
				<img class="img" src="images/icon/burger.svg" alt="burger icon">
			</button>   
			<div class="mobile-menu" data-menu>
				<div class="mobile-menu__container">
					<div class="wrapper">
						<div class="mobile-menu__wrapper">
							<div class="mobile-menu__top">
								<a href="#" target="_blank" class="sign-in logo" title="Sign In">
									<svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_290_8939)">
										<path d="M15 0.00100708C6.7166 0.00100708 0 6.71628 0 15.0003C0 23.2844 6.71594 29.9997 15 29.9997C23.2847 29.9997 30 23.2844 30 15.0003C30 6.71628 23.2847 0.00100708 15 0.00100708ZM15 4.48598C17.7409 4.48598 19.962 6.70772 19.962 9.44733C19.962 12.1876 17.7409 14.4087 15 14.4087C12.2604 14.4087 10.0393 12.1876 10.0393 9.44733C10.0393 6.70772 12.2604 4.48598 15 4.48598ZM14.9967 26.078C12.263 26.078 9.75929 25.0825 7.82812 23.4346C7.35768 23.0334 7.08623 22.445 7.08623 21.8276C7.08623 19.0491 9.33497 16.8254 12.1141 16.8254H17.8872C20.667 16.8254 22.9072 19.0491 22.9072 21.8276C22.9072 22.4457 22.637 23.0327 22.1659 23.434C20.2354 25.0825 17.731 26.078 14.9967 26.078Z" fill="currentColor"/>
										</g>
										<defs>
										<clipPath id="clip0_290_8939">
										<rect width="30" height="30" fill="white"/>
										</clipPath>
										</defs>
									</svg>
								</a>
							</div>
							<nav class="nav">
								<ul> 
									<!-- <li class="parent">
										<a href="#">Products</a>
										<ul>
											<li>
												<a href="#">Products1</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="#">Support</a>
										<ul>
											<li>
												<a href="#">Support1</a>
											</li>
										</ul>
									</li>
									<li class="parent">
										<a href="#">Crypto News</a>
										<ul>
											<li>
												<a href="#">Crypto News1</a>
											</li>
										</ul>
									</li> -->
									<li>
										<a class="scroll-link" href="#getStartedSteps">How to create a wallet</a>
									</li>
									<li>
										<a href="#">Our Roadmap</a>
									</li>
									<li>
										<a href="#">Contact us</a>
									</li>
								</ul>
							</nav>
							<a href="#" class="btn btn-main">
								Create wallet
							</a>
							<div class="mobile-menu__bottom">
								<div class="socials">
									<ul class="list-reset list">
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon youtube">
													<use xlink:href="images/sprite.svg#youtube"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon facebook">
													<use xlink:href="images/sprite.svg#facebook"></use>
												</svg>
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="list__link" target="_blank">
												<svg class="icon twitter">
													<use xlink:href="images/sprite.svg#twitter"></use>
												</svg>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>