<section class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <h1 class="main-screen__title">
                Jet Wallet
            </h1>
            <p class="main-screen__text">
                Store, Send, Receive 200+ assets.<br>
                Store your NFTs.<br>
                Create different accounts for different needs.
            </p>
            <div class="main-screen__links app-links">
                <a href="#" class="btn btn-main">
                    Create wallet
                </a>
                <!-- <a href="#" class="app-links__link app-links__link--apple" target="_blank">
                    <span class="app-links__icon">
                        <img src="images/icon/apple.svg" alt="icon App store">
                    </span>
                    <span class="app-links__labels">
                        <span>Download on the</span>
                        <span>App store</span>
                    </span>
                </a>
                <a href="#" class="app-links__link app-links__link--google" target="_blank">
                    <span class="app-links__icon">
                        <img src="images/icon/android.svg" alt="icon Google play">
                    </span>
                    <span class="app-links__labels">
                        <span>GET IT ON</span>
                        <span>Google play</span>
                    </span>
                </a> -->
            </div>
        </div>
    </div>
</section>
<section class="multicurr">
    <div class="wrapper">
        <div class="multicurr__container">
            <h2 class="multicurr__title">
                <span class="accent">Jet Wallet</span><br>
                Secure Multi address solution
            </h2>
            <div class="end-elem1"></div>
            <p class="multicurr__text">
                Aimed at becoming the most convenient tool for the Web 3.0 environment
            </p>
            <div class="multicurr__images">
                <img src="images/home/multicurr/multicurr-bg.png" alt="phone" class="main mob">
                <img src="images/home/multicurr/phone.png" alt="phone" class="main">
                <img src="images/home/multicurr/cloud-white.svg" alt="icon cloud" class="cloud-white pos-ab">
                <img src="images/home/multicurr/coin-lg.svg" alt="icon coin" class="coin-lg pos-ab">
                <img src="images/home/multicurr/bitcoin.svg" alt="icon bitcoin" class="bitcoin pos-ab">
                <img src="images/home/multicurr/tron.svg" alt="icon tron" class="tron pos-ab">
                <img src="images/home/multicurr/coin-small.svg" alt="icon coin" class="coin-small pos-ab">
                <img src="images/home/multicurr/binance.svg" alt="icon binance" class="binance pos-ab">
                <img src="images/home/multicurr/ether.svg" alt="icon ether" class="ether pos-ab">
                <img src="images/home/multicurr/cloud-grey.svg" alt="icon cloud" class="cloud-grey pos-ab">
                <img src="images/home/multicurr/coin-sm.svg" alt="icon coin" class="coin-sm pos-ab">
            </div>
        </div>
        <div class="end-elem2"></div>
    </div>
</section>
<section id="getStartedSteps" class="steps">
    <div class="wrapper">
        <div class="steps__container">
            <h2 class="steps__title">
                Get Started in <span class="accent">3 Easy Steps</span>
            </h2>
            <!-- <p class="steps__text">
                Easy registration, You can import your wallet usability to work 
                with multiple cryptocurrencies, coins and tokens.<br>
                Evolve your collection, browse and send NFTs
            </p> -->
            <div class="start">
                <div class="start__item">
                    <div class="start__icon">
                        <img src="images/home/steps/step-1.svg" alt="Create a wallet in one step" class="icon">
                    </div>
                    <div class="start__wrap">
                        <div class="start__step">
                            1 Step
                        </div>
                        <div class="start__title">
                            Register your wallet
                        </div>
                        <div class="start__text">
                            or Import already existing one into<br>
                            our system
                        </div>
                    </div>
                </div>
                <div class="start__item">
                    <div class="start__icon">
                        <img src="images/home/steps/step-2.svg" alt="Сreate as many additional accounts as" class="icon">
                    </div>
                    <div class="start__wrap">
                        <div class="start__step">
                            2 Step
                        </div>
                        <div class="start__title">
                            Сreate multiple addresses
                        </div>
                        <div class="start__text">
                            You can create multiple addresses on every<br>
                            blockchain
                        </div>
                    </div>
                </div>
                <div class="start__item">
                    <div class="start__icon">
                        <img src="images/home/steps/step-3.svg" alt="Choose predefined tokens or import " class="icon">
                    </div>
                    <div class="start__wrap">
                        <div class="start__step">
                            3 Step
                        </div>
                        <div class="start__title">
                            Choose your token list
                        </div>
                        <div class="start__text">
                            Set your own asset list for every address<br>
                            and blockchain
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="end-elem"></div>
    </div>
</section>
<section class="try">
    <div class="wrapper">
        <div class="try__container">
            <h2 class="try__title">
                <span class="accent">Import your Wallet.</span>
                Safely transfer your wallet from other sources
            </h2>
            <p class="try__text">
                We do not get your phrase it is securely encrypted inside our system
            </p>
            <a href="#" class="btn btn-main btn-main--white">
                Import Now
            </a>
        </div>
        <div class="end-elem"></div>
    </div>
</section>
<section class="screen">
    <div class="wrapper">
        <h2 class="screen__title">
            <span class="accent">Manage your NFTs.</span> Friendly and convenient Interface<br>
            NFT imports automatically between accounts
        </h2>
        <div class="end-elem1"></div>
        <!-- <p class="screen__text">
            (in Next release you’ll be able to import all your NFTs in one click
        </p> -->
        <div class="screen__image screen__image-top">
            <img src="images/home/banner/screen-top-2.png" alt="dashboard" class="image">
            <img src="images/home/banner/screen-top-mob-2.png" alt="dashboard" class="image mob">
        </div>
        <div class="end-elem2"></div>
        <div class="screen__image screen__image-bottom">
            <img src="images/home/banner/screen-2.png" alt="dashboard" class="image">
        </div>
        <div class="end-elem3"></div>
    </div>
</section>
<section class="manage">
    <div class="wrapper">
        <div class="manage__container">
            <h2 class="manage__title">
                Manage crypto <span class="accent">on Mobile</span>
            </h2>
            <div class="end-elem1"></div>
            <div class="mobile-items">
                <div class="mobile__image">
                    <img src="images/home/manage/phone-2-2.png" alt="image device phone" class="image">
                </div>
                <div class="mobile__image">
                    <img src="images/home/manage/phone-3-2.png" alt="image device phone" class="image">
                </div>
                <div class="mobile__image">
                    <img src="images/home/manage/phone1.png" alt="image device phone" class="image">
                </div>
            </div>
            <div class="mobile">
                <div class="mobile__item">
                    <div class="mobile__image">
                        <img src="images/home/manage/phone-2-2.png" alt="image device phone" class="image">
                    </div>
                    <div class="end-elem2"></div>
                    <div class="mobile__amount">
                        +200
                    </div>
                    <div class="mobile__descript">
                        Assets
                    </div>
                </div>
                <div class="mobile__item">
                    <div class="mobile__image">
                        <img src="images/home/manage/phone-3-2.png" alt="image device phone" class="image">
                    </div>
                    <div class="end-elem3"></div>
                    <div class="mobile__amount">
                        1 click
                    </div>
                    <div class="mobile__descript">
                        NFT import
                    </div>
                </div>
                <div class="mobile__item">
                    <div class="mobile__image">
                        <img src="images/home/manage/phone1.png" alt="image device phone" class="image">
                    </div>
                    <div class="end-elem4"></div>
                    <div class="mobile__amount">
                        2+
                    </div>
                    <div class="mobile__descript">
                        unlimited blockchains support
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-main btn-main--white">
                Import Now
            </a>
        </div>
    </div>
</section>
<section class="securely">
    <div class="wrapper">
        <div class="securely__container">
            <h2 class="securely__title-groups">
                Manage your<br>
                assets <span class="accent">safely</span>
            </h2>
            <div class="end-elem1"></div>
            <div class="assets">
                <div class="assets__item">
                    <div class="assets__icon">
                        <img src="images/home/securely/protect.svg" alt="Secret phrase is encrypted by User Password which is also encrypted" class="icon">
                    </div>
                    <span class="assets__descript">
                        Secret phrase is encrypted by User Password which is also encrypted
                    </span>
                </div>
                <div class="assets__item">
                    <div class="assets__icon">
                        <img src="images/home/securely/shuffle.svg" alt="Transfer your assets between addresses in 2 clicks" class="icon">
                    </div>
                    <span class="assets__descript">
                        Transfer your assets between addresses in 2 clicks
                    </span>
                </div>
                <div class="assets__item">
                    <div class="assets__icon">
                        <img src="images/home/securely/coins.svg" alt="Assets stay securely offline hardware" class="icon">
                    </div>
                    <span class="assets__descript">
                        Manage countless addresses in one wallet
                    </span>
                </div>
            </div>
            <div class="end-elem2"></div>
        </div>
    </div>
</section>
<div class="securely-end-elem"></div>