<div class="main-screen">
    <div class="wrapper">
        <div class="main-screen__container">
            <h1 class="main-screen__title">
                C-Wallet
            </h1>
            <p class="main-screen__text">
                Send, receive, and exchange Bitcoin and 225+ cryptocurrencies 
                with ease on the world's leading Desktop, Mobile and Hardware 
                crypto wallets
            </p>
            <div class="main-screen__links app-links">
                <a href="#" class="app-links__link app-links__link--apple" target="_blank">
                    <span class="app-links__icon">
                        <img src="../images/icon/apple.svg" alt="icon App store">
                    </span>
                    <span class="app-links__labels">
                        <span>Download on the</span>
                        <span>App store</span>
                    </span>
                </a>
                <a href="#" class="app-links__link app-links__link--google" target="_blank">
                    <span class="app-links__icon">
                        <img src="../images/icon/android.svg" alt="icon Google play">
                    </span>
                    <span class="app-links__labels">
                        <span>GET IT ON</span>
                        <span>Google play</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>