<div class="privacy-page">
    <section class="privacy">
        <div class="wrapper">
            <h1 class="privacy__title">
                Privacy Policy
            </h1>
            <p class="privacy__text">
                This Privacy Notice describes the policies and procedures of Jet Wallet Company, 
                (“we,” “our,” or “us”) pertaining to the collection, use, and disclosure of your 
                information on www.jetwallet.net and related mobile applications and products we offer 
                (the “Services” or “Jet Wallet”).
            </p>
        </div>
    </section>
</div>