<div class="roadmap-page">
    <section class="roadmap">
        <div class="wrapper">
            <h1 class="roadmap__title">
                Road Map
            </h1>
            <p class="roadmap__text">
                Stages of project development. Development of the main modules within the crypto wallet.<br> 
                Prospects and plans for the future
            </p>
        </div>
    </section>
    <section class="stages">
        <div class="wrapper">
            <div class="stages__container">
                <div class="stage stage--done">
                    <h3 class="stage__title">
                        Stage 1 <span class="accent">(Done)</span>
                    </h3>
                    <ul class="stage__list list-reset">
                        <li class="stage__item">TRC -20 implementation</li>
                        <li class="stage__item">Import Wallet</li>
                        <li class="stage__item">NFT ( Add, Send, Receive )</li>
                        <li class="stage__item">BEP-20 implementation</li>
                        <li class="stage__item">Multiple addresses</li>
                        <li class="stage__item">Token ( Add, Send, Receive )</li>
                    </ul>
                </div>
                <div class="end-elem1"></div>
                <div class="stage stage--process">
                    <h3 class="stage__title">
                        Stage 2 <span class="accent">(in Progress)</span>
                    </h3>
                    <ul class="stage__list list-reset">
                        <li class="stage__item">ERC-20 implementation</li>
                        <li class="stage__item">Full control over Tokens & NFT & Addresses</li>
                        <li class="stage__item">User Experience Improvement + Cosmetics</li>
                        <li class="stage__item">Info Pages, Statistics, charts</li>
                        <li class="stage__item">Layout editing</li>
                    </ul>
                </div>
                <div class="end-elem2"></div>
                <div class="stage stage--planned">
                    <h3 class="stage__title">
                        Stage 3 <span class="accent">(Planned)</span>
                    </h3>
                    <ul class="stage__list list-reset">
                        <li class="stage__item">
                            Browser Extenstion<br> 
                            <span class="descript">
                                ( Technology rework for Extension implementation )
                            </span>
                        </li>
                        <li class="stage__item">
                            Jet wallet mobile<br>
                            <span class="descript">
                                ( Mockups And Concept Development )
                            </span>
                        </li>
                        <li class="stage__item">Token Staking</li>
                        <li class="stage__item">Further UI UX Improvements</li>
                    </ul>
                </div>
                <div class="end-elem3"></div>
            </div>
        </div>
    </section>
    <section class="try">
        <div class="wrapper">
            <div class="try__wrapper">
                <h2 class="try__title">
                    Try Jet Wallet right now
                </h2>
                <a href="#" class="btn btn-main btn-main--white">
                    Create wallet
                </a>
                <img src="../images/roadmap/try/cloud-opac.svg" alt="image" class="pos-ab cloud-opac">
                <img src="../images/roadmap/try/coin-l.svg" alt="image" class="pos-ab coin-l">
                <img src="../images/roadmap/try/coin-sm-l.svg" alt="image" class="pos-ab coin-sm-l">
                <img src="../images/roadmap/try/coin-r.svg" alt="image" class="pos-ab coin-r">
                <img src="../images/roadmap/try/coin-sm-r.svg" alt="image" class="pos-ab coin-sm-r">
                <img src="../images/roadmap/try/cloud-fill.svg" alt="image" class="pos-ab cloud-fill">
            </div>
            <div class="end-elem"></div>
        </div>
    </section>
</div>