@include small-desktop {
    .footer {
        &__top {
            .nav {
                margin-right: 40px;

                ul {
                    li {
                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                    }
                }
            }

            .app-links {
                gap: 15px;
            }
        }
    }
}

@include tablet {
    .footer {
        &__top {
            flex-wrap: wrap;
            padding: 50px 0;

            .nav {
                width: 100%;
                order: 1;
                margin-top: 30px;

                ul {
                    justify-content: flex-start;
                }
            }
        }
    }
}

@include mobile {
    .footer {
        &::after {
            bottom: 60px;
        }
        
        &__top {
            flex-direction: column;
            padding-bottom: 0;

            .nav {
                margin-right: 0;
                order: inherit;
                margin-top: 60px;
                margin-bottom: 40px;

                ul {
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .app-links {
                justify-content: center;
            }
        }
        &__bottom {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;

            .copyright {
                width: 100%;
                order: 1;
                text-align: center;
                margin-bottom: 60px;
            }

            .link-groups {
                margin-left: auto;
                margin-right: auto;
            }

            .socials {
                order: 1;

                .list {
                    margin-right: 0;
                    gap: 30px;

                    &__link {
                        width: 26px;
                        height: 26px;
    
                        .icon {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}