@include small-desktop {
    .header {
        .nav {
            ul {
                li:not(:last-child) {
                    margin-right: 40px;
                }
            }
        }
        .socials {
            .list {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
        .auth {
            padding-left: 15px;
        }
    }
}

@include tablet {
    .header {
        .logo {
            margin-right: 20px;
        }
        .nav {
            ul {
                flex-wrap: wrap;
                li {
                    text-align: center;

                    a {
                        font-size: 14px;
                    }
                }
                li:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        .socials {
            .list {
                margin-left: 25px;
            }
        }
    }
}

@include small-tablet {
    .header {
        &__group {
            display: none;
        }
        .burger {
            display: flex;
        }
        .mobile-menu {
            .nav {
                ul {
                    flex-direction: column;

                    li.parent {
                        // padding-right: 20px;
                        a {
                            &::after {
                                background-image: none;
                                height: 1px;
                                width: 0%;
                                left: 0;
                                top: inherit;
                                bottom: -1px;
                                transform: none;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                        ul {
                            max-height: 0;
                            padding: 0;
                            transform: translateX(0);
                            position: static;
                        }
                        &:hover {
                            ul {
                                max-height: 100%;
                                padding: 10px 25px;
                            }
                        }
                    }
                    li {
                        a {
                            padding: 10px 25px;
                            min-width: 300px;
                            display: block;
                            text-align: center;
                            font-size: 16px;
                        }
                    }
                    li:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }
            .btn-main {
                @include btn-main;
                background: #7167E1;
                margin: 0 auto;
                border: 1px solid transparent;

                &:hover {
                    color: #7167E1;
                    border: 1px solid #7167E1;
                    background: transparent;
                }
            }
            .btn-main--transparent {
                margin-top: 20px;
                background: rgba(113, 103, 225, 0.1);
                border: 1px solid rgba(113, 103, 225, 0.5);
            }
            .socials {
                .list {
                    margin-left: 0;
                    margin-right: 0;
                    justify-content: center;

                    &__link,
                    &__link .icon {
                        width: 35px;
                        height: 35px;
                        fill: var(--cs-social);
                    }
                }
            }
            .auth {
                max-width: fit-content;
                padding-left: 0;
                border-left: none;
            }
        }
    }
}
