@include big-desktop {
    .main-screen {
        padding: 150px 0;

        &__title {
            font-size: 120px;
        }

        &__text {
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
    .multicurr {
        padding-top: 120px;
        &__text {
            margin-bottom: 40px;
        }
        &__images {
            .pos-ab,
            .main {
                display: none;
            }
            .main.mob {
                display: block;
            }
        }
    }
    .steps,
    .try,
    .manage,
    .securely {
        padding: 120px 0;
    }

    .securely {
        &::after {
            background: url('../../images/home/securely/mac.png') no-repeat center right/800px;
        }

        &__title-groups {
            position: relative;
            z-index: 1;
        }
    }
}

@include small-desktop {
    .main-screen {
        padding: 120px 0;

        &__title {
            font-size: 100px;
        }
    }
    .try {
        &__container {
            padding: 50px 75px;
        }
    }
    .securely {
        &::after {
            background: url('../../images/home/securely/mac.png') no-repeat top 100px right/600px;
        }
    }
}

@include tablet {
    .main-screen {
        padding: 100px 0;

        &__container {
            max-width: 480px;
        }

        &__title {
            font-size: 80px;
        }

        &__text {
            font-size: 22px;
        }
    }
    .multicurr {
        padding-top: 100px;

        &__title {
            font-size: 60px;
        }

        &__text {
            margin-top: 20px;
            font-size: 22px;
        }
    }
    .steps {
        padding: 100px 0;

        &__title {
            font-size: 60px;
        }
        &__text {
            margin-top: 20px;
            margin-bottom: 50px;
            max-width: 600px;
        }

        .start {
            &__title {
                margin: 25px 0;
            }
        }
    }
    .try {
        padding: 100px 0;

        &__container {
            padding: 50px 75px;

            &::after {
                right: -50px;
                top: -100px;
            }
        }
    }
    .screen {
        &__title {
            font-size: 60px;
        }
    }
    .manage {
        padding: 100px 0;

        &::after {
            width: 230px;
            height: 230px;
            bottom: -115px;
            left: -115px;
        }

        &__title {
            font-size: 60px;
        }

        .mobile {
            margin-top: 40px;
            margin-bottom: 40px;

            &__item {
                &:nth-child(2) {
                    margin-top: 45px;
    
                    .mobile__amount {
                        margin-top: 25px;
                    }
                }
            }
            &__amount {
                font-size: 60px;
                margin-top: 45px;
                margin-bottom: 15px;
            }
            &__descript {
                font-size: 22px;
                text-align: center;
            }
        }
    }
    .securely {
        padding: 100px 0;

        &::after {
            background: url('../../images/home/securely/mac.png') no-repeat top 50px right/500px;
        }

        &__title-groups {
            span {
                font-size: 60px;
            }
        }
    }
}

@include small-tablet {
    .main-screen {
        margin-top: 85px;
        padding: 70px 0;

        &__title {
            font-size: 60px;
        }

        &__text {
            font-size: 20px;
        }
    }
    .multicurr {
        padding-top: 70px;

        &__title {
            font-size: 40px;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    .steps {
        padding: 70px 0;

        &__title {
            font-size: 40px;
        }
    }
    .try {
        padding: 70px 0;

        &__container {
            padding: 25px 50px;

            &::after {
                width: 165px;
                height: 165px;
                right: -20px;
                top: -75px;
            }
        }

        &__title {
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    .screen {
        &__title {
            font-size: 40px;
        }
    }
    .manage {
        padding: 70px 0;

        &::after {
            width: 200px;
            height: 200px;
            bottom: -100px;
            left: -100px;
        }

        &__title {
            font-size: 40px;
        }

        .mobile {
            &__item {
                &:nth-child(2) {
                    margin-top: 25px;
    
                    .mobile__amount {
                        margin-top: 15px;
                    }
                }
            }
            &__amount {
                font-size: 40px;
                margin-top: 25px;
                margin-bottom: 10px;
            }
            &__descript {
                font-size: 20px;
            }
        }
    }
    .securely {
        padding: 70px 0;

        &::after {
            background: url('../../images/home/securely/mac.png') no-repeat top 50px right/300px;
        }

        &__title-groups {
            span {
                font-size: 40px;
            }
        }
    }
}

@include mobile {
    .main-screen {
        padding-top: 120px;
        padding-bottom: 212px;
        background-image:  url('../../../images/home/main-page/mob-bg.png');
        background-position: center;
        background-size: cover;

        &__container {
            max-width: inherit;
        }

        &__title {
            font-size: 80px;
        }

        &__text {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 60px;
            max-width: 450px;

            br {
                display: none;
            }
        }
    }
    .multicurr {
        background-image: url('../../../images/home/multicurr/multicurr-bg-mob.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 375px;
        padding-top: 80px;
        padding-bottom: 520px;

        &__title {
            .accent {
                display: block;
            }
        }

        &__text {
            margin-top: 40px;
            margin-bottom: 15px;
            font-size: 18px;
            max-width: 370px;
        }

        &__images {
            .main.mob {
                display: none;
            }
        }
    }
    .steps {
        padding: 50px 0;

        &__title {
            .accent {
                display: block;
            }
        }

        &__text {
            margin-bottom: 25px;

            br {
                display: none;
            }
        }

        .start {
            flex-direction: column;
            align-items: center;
            
            &::before,
            &::after {
                content: none;
            }

            &__item {
                @include flex-all-center;
                max-width: inherit;
                margin-right: 0;
                padding-bottom: 25px;
                max-width: fit-content;
                position: relative;

                &:not(:last-child)::after {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid #23232B;
                    bottom: 0;
                    width: 100%;
                }
            }

            &__wrap {
                margin-top: 25px;
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            &__icon {
                margin-right: 21px;

                img {
                    transform: translateY(0px);
                    transform: translateX(-50px);
                    min-width: 110px;
                    min-height: 110px;
                }
            }

            &__title {
                margin-top: 12px;
                margin-bottom: 0;
                min-width: 230px;
                max-width: 230px;
                text-align: left;
            }
        }

        &__container.animated {
            .start {
                &__icon {
                    img {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
        }
    }
    .try {
        padding: 50px 0;

        &__container {
            padding-top: 80px;
            padding-bottom: 344px;
            padding-left: 42px;
            padding-right: 42px;
            max-width: 335px;
            margin: 0 auto;
            background: url('../../../images/home/banner/phones-mb.png') no-repeat center 900px/auto, url('../../images/home/banner/banner-bg-mob.png') no-repeat center/cover;

            &::after {
                top: inherit;
                bottom: -80px;
            }
        }

        &__title {
            font-size: 40px;
            margin-bottom: 60px;
        }

        .btn-main {
            padding: 12px;
        }

        &__container.animated {
            background: url('../../../images/home/banner/phones-mb.png') no-repeat center bottom/auto, url('../../images/home/banner/banner-bg-mob.png') no-repeat center/cover;
        }
    }
    .screen {
        &__title {
            font-size: 40px;
            white-space: normal;
            margin-bottom: 40px;

            &.animated {
                animation: none;
            }
        }
        &__image-top {
            .image {
                display: none;
            }
            .image.mob {
                margin: 0 auto;
                display: block;
            }
        }
    }
    .manage {
        padding: 50px 0;

        &::after {
            width: 150px;
            height: 150px;
            bottom: -75px;
            left: -75px;
        }

        &__title {
            font-size: 30px;
        }

        .mobile {
            flex-direction: column;
            align-items: center;

            &__amount {
                font-size: 30px;
            }
            &__descript {
                font-size: 18px;
            }
        }
    }
    .securely {
        padding: 50px 0;

        &::after {
            background: url('../../images/home/securely/mac.png') no-repeat top 50px right/300px;
        }

        &__title-groups {
            margin-bottom: 125px;

            span {
                font-size: 30px;
            }
        }

        .assets {
            &__item {
                padding: 10px 22px;
                min-height: 76px;

                &:nth-child(2) {
                    transform: translateY(-91px);
                }
                
                &:last-child {
                    transform: translateY(-182px);
                }
            }
            &__icon {
                padding-right: 17px;
                margin-right: 15px;

                .icon {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                }
            }
            &_descript {
                font-size: 16px;
            }
        }
    }
}

@include small-mobile {
    .try {
        &__container {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    .manage {
        &__title {
            font-size: 24px;
        }
    }
    .securely {
        &::after {
            opacity: .7;
        }

        .assets {
            &__descript {
                font-size: 16px;
            }
        }
    }
}