// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1520px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --cs-white: #fff;
  --cs-body-bg: #16161C;
  --cs-main: #7167E1;
  --cs-text: #EAEBF0;
  --cs-text-dark: #1C202D;
  --cs-grey: #7B8091;
  --cs-social: #F3F5FC;
}